{% comment %}
  @param product {Product}
    The product object in question or false. Onboards if false or blank.

  @param select_first_available_variant {Boolean}
    Whether to auto-select first available variant

  @param aspect_ratio {string}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param thumbnail_position {string}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param image_crop {boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

{% assign onboarding = false %}
{% if product == false or product == blank %}
  {% assign onboarding = true %}
{% endif %}

{% assign selected_variant = product.selected_or_first_available_variant %}

{% if select_first_available_variant %}
  {% assign selected_media = selected_variant.featured_media | default: product.featured_media %}
{% else %}
  {% assign selected_media = product.featured_media %}
{% endif %}

{% if product.handle == 'fotodecke'
	  or product.handle == 'personalisiertes-fotokissen-kissenbezug-mit-menschen' 
	  or product.handle == 'personalisiertes-foto-bettwasche-set-bettbezug-mit-kissen'
	  or product.handle == 'herzkissen'
	  or product.handle == 'personalisiertes-fotokissen-kissen-mit-tieren'
	  or product.handle == 'personalisierte-fotodecke-bettbezug-mit-tierfoto'
	  or product.handle == 'personalisierte-fotodecke-bettbezug-mit-parchen-foto'
	  or product.handle == 'copy-of-personalisierte-fotodecke-bettbezug-mit-familien-foto'
      or product.handle == 'personalisiertes-fotokissen-kissen-mit-parchen-foto'
      or product.handle == 'personalisiertes-fotokissen-kissen-mit-familien-foto'
      or product.handle == 'personalisierte-fotodecke-bettbezug-mit-familien-foto' %}

	<div class="live_preview product-gallery-div" data-live-preview="{{ product.id }}"></div>

{% endif %}

<div data-live-preview-hide="{{ product.id }}" class="product-gallery-div">

{% comment %}
  {% if product.title == 'Weißes Kopfkissen' %}
    <div class="test-sieger-div">
      <div class="test-sieger-badge">
          <img src="https://cdn.shopify.com/s/files/1/0621/3235/5303/files/BETT_Test_Badge.png?v=1652177555">
      </div>
    </div>
  {% endif %}
{% endcomment %}
{% if product.handle == 'weisses-kopfkissen' %}
  <style>
    @media only screen and (min-width: 769px){
      .trust-product-badge{
        width:120px
      }
    }
    @media only screen and (max-width: 768px){
      .trust-product-badge{
        width:100px
      }
    }
    
  </style>
  <div class="trust-product-badge" style="position: absolute; z-index: 11;right:10px;top:10px">
    <img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0621/3235/5303/files/BETT_Test_Badge.png?v=1652177555">
  </div>
{% endif %}
<div class="product-gallery
    {% if gallery_hover_zoom != 'disabled' %}hover-zoom-enabled{% endif %}
    {% if gallery_click_to_zoom != 'disabled' and gallery_click_to_zoom != 'mobile' %}click-to-zoom-enabled{% endif %} "
    data-product-gallery
    {% if image_crop %}data-product-gallery-image-crop{% endif %}
    data-product-gallery-aspect-ratio="{{ aspect_ratio }}"
    data-product-gallery-thumbnails="{{ thumbnail_position }}" >


  
  {% if thumbnail_position == 'left' %}
    {%
      render 'product-gallery-navigation'
      product: product,
      selected_media: selected_media,
      aspect_ratio: aspect_ratio,
      image_crop: image_crop
    %}
  {% endif %}
  
  {% render 'product-gallery-viewer'
       product: product,
      selected_media: selected_media,
      aspect_ratio: aspect_ratio,
      image_crop: image_crop,
      gallery_hover_zoom: gallery_hover_zoom,
      onboarding: onboarding,
      gallery_click_to_zoom: gallery_click_to_zoom, %}

  {% assign first_model = product.media | where: "media_type", "model" | first %}
  {% if selected_media.media_type == 'model' %}
    {% assign model = selected_media %}
  {% else %}
    {% assign model = first_model %}
  {% endif %}
  {% if model %}
    <script>
      window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
      {% assign models = product.media | where: 'media_type', 'model' | json %}
      ShopifyXR('addModels', {{ models }});
    </script>
    <button
      class="product-gallery--viewinyourspace"
      data-default-model-id="{{ first_model.id }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ model.id }}"
      data-shopify-title="{{ product.title }}"
      data-shopify-xr-hidden
    >
      {% render 'icon-library', id: 'icon-3D' %}
      {{ 'product.media.view_in_your_space' | t }}
    </button>
  {% endif %}

  {% if thumbnail_position != 'left' %}
    {%
      render 'product-gallery-navigation'
      product: product,
      selected_media: selected_media,
      aspect_ratio: aspect_ratio,
      image_crop: image_crop,
    %}
  {% endif %}
</div>
  
</div>
