{% if product.handle == 'fotodecke' %}
  {% assign upsell_product = all_products['personalisiertes-fotokissen-kissenbezug-mit-menschen'] %}
{% elsif product.handle == 'personalisiertes-fotokissen-kissenbezug-mit-menschen' %}
  {% assign upsell_product = all_products['fotodecke'] %}
{% elsif product.handle == 'personalisierte-fotodecke-bettbezug-mit-tierfoto' %}
  {% assign upsell_product = all_products['personalisiertes-fotokissen-kissen-mit-tieren'] %}
{% elsif product.handle == 'personalisiertes-fotokissen-kissen-mit-tieren' %}
  {% assign upsell_product = all_products['personalisierte-fotodecke-bettbezug-mit-tierfoto'] %}
{% elsif product.handle == 'personalisierte-fotodecke-bettbezug-mit-familien-foto' %}
  {% assign upsell_product = all_products['personalisiertes-fotokissen-kissen-mit-familien-foto'] %}
{% elsif product.handle == 'personalisiertes-fotokissen-kissen-mit-familien-foto' %}
  {% assign upsell_product = all_products['personalisierte-fotodecke-bettbezug-mit-familien-foto'] %}
{% elsif product.handle == 'personalisierte-fotodecke-bettbezug-mit-tierfoto-kopfdruck' %}
  {% assign upsell_product = all_products['personalisiertes-fotokissen-kissen-mit-tierkopfdruck'] %}
{% elsif product.handle == 'personalisiertes-fotokissen-kissen-mit-tierkopfdruck' %}
  {% assign upsell_product = all_products['personalisierte-fotodecke-bettbezug-mit-tierfoto-kopfdruck'] %}
{% elsif product.handle == 'personalisierte-fotodecke-bettbezug-mit-parchen-foto' %}
  {% assign upsell_product = all_products['personalisiertes-fotokissen-kissen-mit-parchen-foto'] %}
{% elsif product.handle == 'personalisiertes-fotokissen-kissen-mit-parchen-foto' %}
  {% assign upsell_product = all_products['personalisierte-fotodecke-bettbezug-mit-parchen-foto'] %}
{% endif %}

{% if upsell_product != null %}
{{ 'upsell-product-simple.css' | asset_url | stylesheet_tag }}
  
<div class="UpsellProd_MainWrapper">
  <h2 class="UpProdOpt_Heading"> Bezug + Kissen kombinieren & <span class="SuggestedUpProd_lineSparen">10% sparen!</span> </h2>
  <form action="/cart/add" method="post" class="UpProdOpt_ContentWr">

      <input
        name="id"
        type="hidden"
        value="{{ upsell_product.variants.first.id }}"
        id="product-select"
      >
    <a class="UpsellProd_title" href="{{ upsell_product.url }}" style="text-decoration: none;">
      <h2 class="UpsellProd_title" style="text-align: center; padding: 0 30px;">{{ upsell_product.title }}</h2>
    </a>
	<div class="UpProdOpt_infoWr">
      {%- assign image_url = upsell_product.featured_image.src | image_url: width: 300 -%}
      <a href="{{ upsell_product.url }}">
        <img class="SuggestedUpProd_imageWr" 
             data-rimg="lazy"
             data-rimg-template="{{ image_url }}"
             src="{{ image_url }}">
      </a>

      <div class="UpProdOpt_selectorsWr">
        <div>
        {% if upsell_product.variants.size > 1 %}
              {% if upsell_product.options[0] %}
                  {% assign used = '' %}
                  <div class="upsell_optionWrapper">
                    {% comment %}<label for="select-one">{{ upsell_product.options[0] }}</label>{% endcomment %}
                    <select id='select-one' class="upsell_select" onchange="letsDoThis()">
                        {% for variant in upsell_product.variants %}
                            {% unless used contains variant.option1 %}
                                <option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
                                {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
                            {% endunless %}
                        {% endfor %}
                    </select>
                  </div>
              {% endif %}
              {% if upsell_product.options[1] %}
                  {% assign used = '' %}
                  <div class="upsell_optionWrapper">
                    {% comment %}<label for="select-one">{{ upsell_product.options[1] }}</label>{% endcomment %}
                    <select id='select-two' class="upsell_select" onchange="letsDoThis()">
                        {% for variant in upsell_product.variants %}
                            {% unless used contains variant.option2 %}
                                <option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
                                {% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
                            {% endunless %}
                        {% endfor %}
                    </select>
                  </div>
              {% endif %}
              {% if upsell_product.options[2] %}
                  {% assign used = '' %}
                  <div class="upsell_optionWrapper">
                    {% comment %}<label for="select-one">{{ upsell_product.options[2] }}</label>{% endcomment %}
                    <select id='select-three' class="upsell_select" onchange="letsDoThis()">
                        {% for variant in upsell_product.variants %}
                            {% unless used contains variant.option3 %}
                                <option value="{{ variant.option3 }}">{{ variant.option3 }}</option>
                                {% capture used %}{{ used }} {{ variant.option3 }}{% endcapture %}
                            {% endunless %}
                        {% endfor %}
                    </select>
                  </div>
              {% endif %}
        {% endif %}
        </div>

        {% comment %}Settings automatically the Live Preview App options{% endcomment %}
        <div data-live-options="{{ upsell_product.id }}" class="UpsellProdOpt_ImageUploadButton" style="margin-top:3px"></div>

        <button
                type="submit"
                name="id"
                class="SuggestedUpProd_buttonWr small_button"
                {% if upsell_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                >
          <span>
            {%- if upsell_product.selected_or_first_available_variant.available -%}
            Hinzufügen
            {%- else -%}
            Sold out
            {%- endif -%}
          </span>      
        </button>
      </div>
	</div>
  </form>
</div>

{% comment %} The Live Preview App needs it to load the upload button {% endcomment %}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ upsell_product | json }}
</script>


<script>
  function letsDoThis() {
    {% if upsell_product.options[0] %}var opt1 = document.getElementById('select-one').value;{% endif %}
    {% if upsell_product.options[1] %}var opt2 = document.getElementById('select-two').value;{% endif %}
    {% if upsell_product.options[2] %}var opt3 = document.getElementById('select-three').value;{% endif %}
    var id = '';
    {% for v in upsell_product.variants %}
    if(opt1=="{{ v.option1 }}"{% if upsell_product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if upsell_product.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) {
      var id = {{ v.id }};
      var price = "{{ v.price | money }}";
    }
    {% endfor %}
    if(id!='') {
      document.getElementById('product-select').value = id;
      document.getElementById('price').innerHTML = price;
    } else {
      document.getElementById('product-select').value = '';
      document.getElementById('price').innerHTML = 'Unavailable';
    }
  }
</script>

{% endif %}